UD01-XML/fichas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 elementFormDefault ="qualified">

<xs:element name="fichas">
 <xs:complexType>
    <xs:sequence>
     <xs:element name="ficha" type="xs:integer"/>
     <xs:element name="nombre" type="xs:string"/>
     <xs:element name="edad" type="xs:integer">

     <xs:element name="ficha" type="xs:integer"/>
     <xs:element name="nombre" type="xs:string"/>
     <xs:element name="nombre" type="xs:integer"/>
    
    </xs:sequence>
    

      
    
    
 </xs:complexType>
</xs:element>
</xs:schema>